html {
    background-color: #f89b9e;
    background-image: linear-gradient(315deg, #f89b9e 0%, #c9d9ff 74%);
    background-attachment: fixed;
    font-family: "Segoe UI",Arial,sans-serif;
}

body {
    /* background-image: url(https://svgsilh.com/svg/331553.svg); */
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: 500px 300px;
}
header{
    text-align: center;
    margin-top: 10px;
    padding: 25px;
}

.search-bar {
    margin-left: 20px;
}

#search-container {
    padding: 10px 3rem;
}

#movie-card-section {

    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 30%;
    margin: 20px 20px;
}

.card-footer {
    justify-content: center;
}

.movie-select {
    margin: 10px 0px;
}

.section {
    margin-bottom: 0px;
}



@media (max-width: 800px) {
    .card {
        flex: 1 1 80%;
    }
}
    

